
body {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #FFFFFF;
    color: #1F2859;
    font-family: sans-serif;
}

#header {
    background-color: #2BBDB9;
    background-size: cover;
    color: #1C78BF;
    width: 100%;
    margin: 0px;
}

#flavors {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

#links {
    font-size: 38px;
}

#footer {
    background-color: #2BBDB9;
}

img {
    width: 200px;
}

#FAQs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.qa {
    display: grid;
    grid-template-rows: 100px 1fr;
    background-color: rgb(178, 236, 240);
    margin: 10px;
}

.question {
    text-align: center;
    background-color: rgb(37, 182, 193);
    padding: 0px 20px 0px 20px;
}

.question h3 {
}

.answer {
    padding: 20px;
}
