
div {
    margin: 0px;
    padding: 0px;
}

html {
    background-image: url("https://images.unsplash.com/photo-1522918279596-eb92d4d75259?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=37fdc8ff01d6450997f5fd3e4d51eb32&auto=format&fit=crop&w=1234&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    color: #1F2859;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}

#main {
    margin: 100px 25px 25px 25px;
}

#header {
    background-color: rgba(0, 196, 214, .9);
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
}

#footer {
    background-color: rgba(0, 196, 214, 1);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#footer h2 {
    justify-content: flex-end;
}


#links {
    font-size: 38px;
    justify-content: flex-start;
    color: #1F2859;
    padding: 15px;
}

i {
    color: #1F2859;
}

#logo {
    height: 40px;
    margin: 10px 35px 10px 35px;
    padding: 15px 25px 15px 25px;
    background-color: rgba(179, 241, 255, 1);
    border-radius: 100px;
    border: solid 2px #1F2859;
}

#nav {
    display: grid;
    grid-template-columns: repeat(4, 120px);
    align-items: flex-end;
    margin: 15px;
}

.int {
    margin: 5px;
    padding: 7px;
    border: solid 2px #1F2859;
    text-align: center;
    color: #1F2859;
    background-color: rgba(179, 241, 255, 1);
    text-decoration: none;
}

#info {
    padding: 25px;
    background-color: rgba(179, 241, 255, .6);
}

#flavors {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    text-align: center;
    grid-gap: 25px;
}

.flavor {
    display: grid;
    grid-template-rows: 60px 1fr;
    align-content: center;

}

.flavor img{
    width: 200px;
    padding: 20px 0px 20px 0px;
    margin:auto;
}

#FAQs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.qa {
    display: grid;
    grid-template-rows: 100px 1fr;
    margin: 10px;
}

.question {
    text-align: center;
    background-color: rgba(0, 196, 214, 1);
    padding: 0px 20px 0px 20px;
}

.answer {
    padding: 20px;
    line-height: 1.5;
    background-color: rgba(179, 241, 255, .6);
}

#order-box {
    padding: 25px;
    background-color: rgba(179, 241, 255, .6);
}

.name {
    background-color: rgba(0, 196, 214, 1);
}

#FAQ:target {
    padding-top: 100px;
}

#about:target {
    padding-top: 100px;
}

#flav:target {
    padding-top: 100px;
}


@media (max-width: 450px) {
    #header {
    flex-direction: column;
    }
    
    #logo {
        width: 100px;
    }
}